.code-cell-wrapper {
  position: relative;
  margin: 0;
  width: 100%;
}

.submit_styles {
  background-color: '#3780ec';
  border: none;
  color: white;

  position: absolute;
  top: 15px;
  right: 25px;
  opacity: 1;
  z-index: 20;

  width: 60px;
  height: 30px;
  text-align: center;
  font-size: 13px;
  padding: 0 5px;
  background-color: #3780ec;
  border: none;
  color: white;
  border-radius: 3px;
}

.submit_styles:hover {
  background-color: #0253ce;
  color: white;
}

/* .code-cell-wrapper:hover .submit_styles {
  opacity: 1;
  transition: opacity 250ms;
} */
